github-activity-digest.json
{
  "name": "GitHub Activity Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Configure your repos here\nconst repos = [\n  'emilvrana/n8n-workflows',\n  'emilvrana/local-rag-stack',\n  'emilvrana/deepl-cli'\n];\n\n// Look back this many hours (match schedule interval)\nconst lookbackHours = 24;\nconst since = new Date(Date.now() - lookbackHours * 3600 * 1000).toISOString();\n\nreturn repos.map(repo => ({\n  json: { repo, since }\n}));"
      },
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "Configure Repos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/commits?since={{ $json.since }}&per_page=10",
        "options": {
          "headers": {
            "values": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $credentials.githubToken }}"
              },
              {
                "name": "User-Agent",
                "value": "n8n-github-digest"
              }
            ]
          }
        }
      },
      "id": "1a2b3c4d-0003-0003-0003-000000000003",
      "name": "Fetch Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.repo }}/issues?state=open&sort=updated&since={{ $json.since }}&per_page=5",
        "options": {
          "headers": {
            "values": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $credentials.githubToken }}"
              },
              {
                "name": "User-Agent",
                "value": "n8n-github-digest"
              }
            ]
          }
        }
      },
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "Fetch Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Merge commits and issues into a single summary object per repo\nconst allItems = $input.all();\n\n// Group by repo (we get interleaved results from both HTTP nodes)\n// Build a plain text summary for the LLM\nconst commitItems = allItems.filter(i => Array.isArray(i.json) && i.json[0]?.commit);\nconst issueItems  = allItems.filter(i => Array.isArray(i.json) && i.json[0]?.html_url?.includes('/issues/'));\n\nlet summary = '';\n\nfor (const item of commitItems) {\n  if (!item.json.length) continue;\n  const repo = item.json[0].html_url.split('/commit/')[0].replace('https://github.com/', '');\n  const commits = item.json.map(c =>\n    `- ${c.commit.message.split('\\n')[0]} (${c.author?.login ?? 'unknown'})`\n  ).join('\\n');\n  summary += `**${repo}** — ${item.json.length} commit(s):\\n${commits}\\n\\n`;\n}\n\nfor (const item of issueItems) {\n  if (!item.json.length) continue;\n  const repo = item.json[0].repository_url.replace('https://api.github.com/repos/', '');\n  const issues = item.json.map(i => `- #${i.number} ${i.title} [${i.state}]`).join('\\n');\n  summary += `**${repo}** — ${item.json.length} issue(s) updated:\\n${issues}\\n\\n`;\n}\n\nif (!summary.trim()) {\n  return [{ json: { skip: true, message: 'No GitHub activity in the last 24h.' } }];\n}\n\nreturn [{ json: { skip: false, rawSummary: summary.trim() } }];"
      },
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Merge Activity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Any Activity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/chat",
        "method": "POST",
        "jsonBody": "={\n  \"model\": \"llama3.2\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a concise technical assistant. Summarize GitHub activity into a short daily digest (3-5 sentences max). Focus on what actually happened. No preamble, no bullet lists — plain prose.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarize this GitHub activity for me:\\n\\n{{ $json.rawSummary }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0007-0007-0007-000000000007",
      "name": "LLM Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 220]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $json.message?.content ?? $json.choices?.[0]?.message?.content ?? 'Could not parse LLM response.';\nconst today = new Date().toLocaleDateString('en-GB', { weekday: 'short', day: 'numeric', month: 'short' });\n\nreturn [{\n  json: {\n    telegramMessage: `📊 *GitHub Digest — ${today}*\\n\\n${llmResponse}`\n  }\n}];"
      },
      "id": "1a2b3c4d-0008-0008-0008-000000000008",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 220]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "1a2b3c4d-0009-0009-0009-000000000009",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1800, 220],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Configure Repos", "type": "main", "index": 0 }]]
    },
    "Configure Repos": {
      "main": [
        [
          { "node": "Fetch Commits", "type": "main", "index": 0 },
          { "node": "Fetch Issues", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Commits": {
      "main": [[{ "node": "Merge Activity", "type": "main", "index": 0 }]]
    },
    "Fetch Issues": {
      "main": [[{ "node": "Merge Activity", "type": "main", "index": 0 }]]
    },
    "Merge Activity": {
      "main": [[{ "node": "Any Activity?", "type": "main", "index": 0 }]]
    },
    "Any Activity?": {
      "main": [
        [{ "node": "LLM Summarize", "type": "main", "index": 0 }],
        []
      ]
    },
    "LLM Summarize": {
      "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]]
    },
    "Format Message": {
      "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
