rss-ai-digest.json
{
  "name": "RSS AI Daily Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Weekdays at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// RSS feeds to monitor\n// Add/remove feeds as needed\nconst feeds = [\n  { name: 'Hacker News (AI)', url: 'https://hnrss.org/newest?q=AI+LLM&count=20' },\n  { name: 'The Gradient', url: 'https://thegradient.pub/rss/' },\n  { name: 'Simon Willison', url: 'https://simonwillison.net/atom/everything/' },\n  { name: 'Andrej Karpathy', url: 'https://karpathy.bearblog.dev/feed/' }\n];\n\nreturn feeds.map(f => ({ json: f }));"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Fetch RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "items",
              "cssSelector": "item",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Parse RSS Items",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract title, link, and pubDate from each RSS item\n// Also filter to items from the last 24h\nconst items = $input.all();\nconst cutoff = Date.now() - 24 * 60 * 60 * 1000;\nconst results = [];\n\nfor (const item of items) {\n  const html = item.json.items;\n  if (!html) continue;\n\n  const parseArr = Array.isArray(html) ? html : [html];\n  for (const xmlStr of parseArr) {\n    const titleMatch = xmlStr.match(/<title[^>]*><!\\[CDATA\\[([^\\]]+)\\]\\]><\\/title>/) ||\n                       xmlStr.match(/<title[^>]*>([^<]+)<\\/title>/);\n    const linkMatch  = xmlStr.match(/<link[^>]*>([^<]+)<\\/link>/) ||\n                       xmlStr.match(/<guid[^>]*>([^<]+)<\\/guid>/);\n    const dateMatch  = xmlStr.match(/<pubDate[^>]*>([^<]+)<\\/pubDate>/) ||\n                       xmlStr.match(/<published[^>]*>([^<]+)<\\/published>/);\n\n    if (!titleMatch) continue;\n\n    const pubDate = dateMatch ? new Date(dateMatch[1]).getTime() : Date.now();\n    if (pubDate < cutoff) continue;\n\n    results.push({\n      json: {\n        title: titleMatch[1].trim(),\n        url: linkMatch ? linkMatch[1].trim() : '',\n        pubDate: new Date(pubDate).toISOString()\n      }\n    });\n  }\n}\n\nreturn results.slice(0, 15); // cap at 15 items per run"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Extract & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "llama3.2",
          "messages": [
            {
              "role": "system",
              "content": "You summarize tech/AI article titles into a single line. Be specific. No marketing language. Focus on what's actually new or interesting."
            },
            {
              "role": "user",
              "content": "=Summarize this in one sentence (max 15 words): {{ $json.title }}"
            }
          ],
          "stream": false
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Summarize Item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Collect all summarized items and build the digest\nconst allItems = $input.all();\nconst originals = $('Extract & Filter').all();\n\nlet digest = `📰 *AI Digest — ${new Date().toLocaleDateString('en-GB', { weekday: 'long', day: 'numeric', month: 'short' })}*\\n\\n`;\n\nfor (let i = 0; i < allItems.length; i++) {\n  const summary = allItems[i].json?.message?.content || allItems[i].json?.response || originals[i]?.json?.title || '?';\n  const url = originals[i]?.json?.url || '';\n\n  digest += `• ${summary.trim()}${url ? '\\n  ' + url : ''}\\n\\n`;\n}\n\nreturn [{ json: { text: digest.trim() } }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Build Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000008",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Weekdays at 8am": {
      "main": [[{ "node": "Feed List", "type": "main", "index": 0 }]]
    },
    "Feed List": {
      "main": [[{ "node": "Fetch RSS", "type": "main", "index": 0 }]]
    },
    "Fetch RSS": {
      "main": [[{ "node": "Parse RSS Items", "type": "main", "index": 0 }]]
    },
    "Parse RSS Items": {
      "main": [[{ "node": "Extract & Filter", "type": "main", "index": 0 }]]
    },
    "Extract & Filter": {
      "main": [[{ "node": "Summarize Item", "type": "main", "index": 0 }]]
    },
    "Summarize Item": {
      "main": [[{ "node": "Build Digest", "type": "main", "index": 0 }]]
    },
    "Build Digest": {
      "main": [[{ "node": "Send to Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["rss", "ai", "digest", "telegram", "automation"]
}
