scheduled-healthcheck.json
{
  "name": "Scheduled Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Define the services to check\n// Update this list with your actual endpoints\nconst services = [\n  { name: 'API', url: 'https://api.example.com/health', timeout: 5000 },\n  { name: 'Dashboard', url: 'https://dashboard.example.com', timeout: 5000 },\n  { name: 'n8n', url: 'http://localhost:5678/healthz', timeout: 3000 },\n  { name: 'Traefik', url: 'http://localhost:8080/ping', timeout: 3000 }\n];\n\nreturn services.map(s => ({ json: s }));"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Service List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": "={{ $json.timeout }}",
          "response": { "response": { "fullResponse": true } }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Check Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "status-ok",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 299,
              "operator": { "type": "number", "operation": "lte" }
            },
            {
              "id": "status-min",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build alert message for failed services\nconst item = $input.first().json;\nconst serviceName = $('Service List').first().json.name;\nconst status = item.statusCode || 'timeout/error';\nconst url = $('Service List').first().json.url;\n\nreturn [{\n  json: {\n    text: `🔴 *${serviceName} is DOWN*\\nStatus: \\`${status}\\`\\nURL: ${url}\\n_${new Date().toISOString().slice(0,19).replace('T',' ')} UTC_`\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Build Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Alert Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1340, 420],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{ "node": "Service List", "type": "main", "index": 0 }]]
    },
    "Service List": {
      "main": [[{ "node": "Check Endpoint", "type": "main", "index": 0 }]]
    },
    "Check Endpoint": {
      "main": [[{ "node": "Is Healthy?", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Build Alert", "type": "main", "index": 0 }]]
    },
    "Is Healthy?": {
      "main": [
        [],
        [{ "node": "Build Alert", "type": "main", "index": 0 }]
      ]
    },
    "Build Alert": {
      "main": [[{ "node": "Alert Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["monitoring", "healthcheck", "telegram", "devops"]
}
