webhook-to-telegram.json
{
  "name": "Webhook to Telegram (LLM summary)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract relevant fields from the incoming payload\nconst body = $input.first().json;\n\nconst event = body.event || 'unknown';\nconst service = body.service || body.source || 'unknown service';\nconst message = body.message || body.text || JSON.stringify(body).slice(0, 500);\nconst severity = body.severity || body.level || 'info';\n\nreturn [{\n  json: {\n    event,\n    service,\n    message,\n    severity,\n    raw: JSON.stringify(body).slice(0, 1000)\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Extract Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "model": "llama3.2",
          "messages": [
            {
              "role": "system",
              "content": "You are a concise technical assistant. Summarize the event in 1-2 sentences. Be direct. Include: what happened, which service, severity. No fluff."
            },
            {
              "role": "user",
              "content": "=Event: {{ $json.event }}\nService: {{ $json.service }}\nSeverity: {{ $json.severity }}\nDetails: {{ $json.message }}"
            }
          ],
          "stream": false
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "LLM Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $input.first().json;\nconst summary = llmResponse.message?.content || llmResponse.response || '(no summary)';\n\n// Pull the original event data from two nodes back\nconst event = $('Extract Fields').first().json;\n\nconst severityEmoji = {\n  error: '🔴',\n  critical: '🚨',\n  warning: '🟡',\n  warn: '🟡',\n  info: '🔵',\n  ok: '🟢'\n}[event.severity?.toLowerCase()] || '⚪';\n\nconst text = `${severityEmoji} *${event.service}*\\n${summary}\\n\\n_${new Date().toISOString().slice(0,19).replace('T',' ')} UTC_`;\n\nreturn [{ json: { text } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract Fields", "type": "main", "index": 0 }]]
    },
    "Extract Fields": {
      "main": [[{ "node": "LLM Summary", "type": "main", "index": 0 }]]
    },
    "LLM Summary": {
      "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]]
    },
    "Format Message": {
      "main": [[{ "node": "Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["webhook", "telegram", "llm", "alerting"]
}
